.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	background: white;
    display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
}

.preloader__item {
	width: 300px;
	position: absolute;
	display: inline-block;
    border: none;
	animation: pulse 2s infinite ease-in-out;
}

 
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
  
.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}
  
.loaded .preloader {
	display: none;
}