.list-item {
    transition: all .2s ease-in-out;
    display: flex;
}

.list-icon {
    position: relative;
    bottom: 20px;
    margin-right: 20px;
    transition: all .2s ease-in-out;
}

.icon-wrap {
    width: 110px;
}

.icon-1 {
    width: 80px;
    height: 80px;
    
}

.icon-2 {
    width: 90px;
    height: 90px;
}

.icon-3 {
    width: 110px;
    height: 110px;
}

.shipping-section .list-item:hover .icon-1,
.shipping-section .list-item:hover .icon-2,
.shipping-section .list-item:hover .icon-3 {
    animation: bounce 2.5s infinite;
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.list-item-2 {
    max-width: 800px;
}

.list-item-3 {
    max-width: 700px;
}

.additional-item {
    margin-top: 50px;
    margin-right: auto;
    font-size: 17px;
}

.additional-item p {
    margin-bottom: 0px;
}